<br>
Cet e-mail est de confirmer que vous avez réussi à changer le mot de passe utilisé pour accéder à votre compte Zerofootprint.<br/><br/>
Cordiales salutations.<br><br/>
L’équipe services aux clients Zerofootprint