Welcome!<br>
Thank you for setting up a Zerofootprint Carbon Offsets Account.
<br>
Your e-mail and login name is: <span style="color:blue;text-decoration:underline;">${name}</span>
<br/>
Use your Account to track your offsets activity.
<br/>
Visit <a href="http://zerofootprintcarbon.com"/>${url}</a> for more information.
<br/>
We will never share your information with anybody.
<br/><br/>
Regards,
<br/><br/>
Antony Marcil
<br/><br/>
Chief Executive Officer
<br/>
Zerofootprint Carbon Inc.
