<br>
Vous avez récemment demandé un nouveau mot de passe pour accéder à votre compte Zerofootprint. Pour sélectionner un nouveau mot de passe, cliquer sur ce lien:<br/><br/>
${url}<br><br>
Pour des raisons de sécurité, la validité de ce lien prendra fin lorsque vous avez sélectionné votre nouveau mot de passe ou à minuit le ${resetExpiryDate}. <br><br>
Cordiales salutations.<br><br/>
L’équipe services aux clients Zerofootprint