Bienvenue!<br>
Merci d’avoir créé un compte de crédits compensatoires avec Zerofootprint.
<br>
Votre adresse courriel et nom de connexion est:  <span style="color:blue;text-decoration:underline;">${name}</span>
<br/>
Utilisez votre compte pour suivre vos activités compensatoires.
<br/>
Voire <a href="http://zerofootprintcarbon.com"/>${url}</a> pour des plus amples détailles.
<br/>
Nous ne partagerons jamais vos données personnelles avec quiconque.  
<br/><br/>
Cordiales salutations,
<br/><br/>
Antony Marcil
<br/><br/>
Chef de la direction<br/>
Zerofootprint Carbon Inc.
