<br>
You recently requested a new password to sign in to your Velo account. To select a new password, click on the link below:<br><br>

${url}<br><br>

For security reasons, the password reset link will expire on ${resetExpiryDate} or after you reset your password.<br><br>

Regards,<br>
Velo Support Team