<br>
Hi ${name},
<br/><br/>
You have indicated that you have forgotten the password to access your Zerofootprint Rewards account.<br/><br/>
To reset your password, click on the link below: <br/><br/>
${url}<br><br>
For security reasons, the password reset link will expire on ${resetExpiryDate} or after you reset your password.<br><br>
All the best,<br>
The ZFP Rewards Team